{erl_opts, [
            warnings_as_errors
           ]}.

{deps, [
        {exmpp,      ".*", {git, "https://github.com/janin/exmpp.git",                "HEAD"}},
        {confetti,   ".*", {git, "https://github.com/jtendo/confetti.git",            {branch, "master"}}},
        {cowboy,     ".*", {git, "https://github.com/extend/cowboy.git",              "0.8.0"}},
        {jsx,        ".*", {git, "https://github.com/talentdeficit/jsx.git",          {branch, "master"}}},
        {gproc,      ".*", {git, "https://github.com/esl/gproc.git",                  {branch, "master"}}},
        {mimetypes,  ".*", {git, "https://github.com/spawngrid/mimetypes.git",        {branch, "master"}}},
        {erlgit,     ".*", {git, "https://github.com/gleber/erlgit.git",              {branch, "master"}}},
        {erlsemver,  ".*", {git, "https://github.com/gleber/erlsemver.git",           {branch, "master"}}},
        {sh,         ".*", {git, "https://github.com/gleber/sh.git",                  {branch, "master"}}},
        {erlpass,    ".*", {git, "https://github.com/greenelephantlabs/erlpass.git",  {branch, "master"}}},
        {yamerl,     ".*", {git, "https://github.com/gleber/yamerl.git",              {branch, "master"}}},
        {uri,        ".*", {git, "https://github.com/puzza007/uri.git",               {branch, "master"}}}

        %%{geef,     ".*", {git, "https://github.com/schacon/geef.git",               {branch, "master"}}}
       ]}.
