{erl_opts, [
            warnings_as_errors,
            fail_on_warning, 
            debug_info
           ]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose]}.


{deps, [
        {exmpp,      ".*", {git, "https://github.com/jeanparpaillon/exmpp.git",       {branch, "rebar2"}}},
        %% {confetti,   ".*", {git, "https://github.com/jtendo/confetti.git",            {branch, "master"}}}, 
        {cowboy,     ".*", {git, "https://github.com/extend/cowboy.git",              "0.9.0"}},
        {erlgit,     ".*", {git, "https://github.com/gleber/erlgit.git",              {branch, "master"}}},
        {erlpass,    ".*", {git, "https://github.com/greenelephantlabs/erlpass.git",  {branch, "master"}}},
        {erlsemver,  ".*", {git, "https://github.com/gleber/erlsemver.git",           {branch, "master"}}},
        {gproc,      ".*", {git, "https://github.com/esl/gproc.git",                  {branch, "master"}}},
        {jsx,     "1.4.5", {git, "https://github.com/talentdeficit/jsx.git",          {tag, "v1.4.5"}}},
        {mimetypes,  ".*", {git, "https://github.com/spawngrid/mimetypes.git",        {branch, "master"}}},
        {sh,         ".*", {git, "https://github.com/gleber/sh.git",                  {branch, "master"}}},
        {uri,        ".*", {git, "https://github.com/puzza007/uri.git",               {branch, "master"}}},
        {yamerl,     ".*", {git, "https://github.com/gleber/yamerl.git",              {branch, "master"}}},
        {bcrypt,  "0.5.0", {git, "git://github.com/spawngrid/erlang-bcrypt.git",      {branch, "master"}}}
        %% {erldocker, ".*",  {git, "git://github.com/greenelephantlabs/erldocker.git",  {branch, "master"}}}
        %% {geef,     ".*", {git, "https://github.com/schacon/geef.git",               {branch, "master"}}}
       ]}.
