#logo {
  padding-bottom: 20px;
}

body {
  margin-top: 15px;
}

input {
  border: 1px solid #CCC;
}

.table tr td {
  vertical-align: middle;
}

.build-building {
  background-color: #ffd;
}

.build-success {
  background-color: #cfc;
}

.build-fail {
  background-color: #fdd;
}

.build-row {
  cursor: pointer;
}

#login-container {
  position: absolute;
  top: 0;
  right: 15em;
  border-radius: 0px 0px 10px 10px; 
  -moz-border-radius: 0px 0px 10px 10px; 
  -webkit-border-radius: 0px 0px 10px 10px; 
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #aaa;
  padding: 0 7px 7px 7px;
}

#github {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
#github a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

.details input[disabled], .details input[readonly] {
  background-color: #FFFFFF;
  border: 0px;
  cursor: default;
}

.builds td.btns {
  width: 80px;
}
.builds .btn {
  width: 80px;
}