<!doctype html>
<html ng-app="Kha">
  <head>
    <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.js"></script>
    <script src="http://code.angularjs.org/1.0.1/angular-resource-1.0.1.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="js/app.js"></script>
    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
    <link type="text/css" rel="stylesheet" href="/css/kha.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid" ng-controller="ProjectCtrl">
        <div class="span3">
          <div id="logo">
            <img src="/img/kha.png"/>
            <h3>Kha - lightweight CI server</h3>
          </div>
          <div id="projects">
            <h2>Projects</h2>
            <ul class="nav nav-tabs nav-stacked">
              <li ng:class="getProjectClass(project)" ng-repeat="project in projects">
                <a ng-click="setCurrentProject(project)">
                  <span>{{project.id}}</span> -
                  <span>{{project.name}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="span9">
          <h3>Project "{{currentProject.name}}"</h3>
          <ul class="nav nav-tabs">
            <li ng:class="getTabClass('details')">
              <a ng-click="selectTab('details')" href="#">Details</a></li>
            <li ng:class="getTabClass('builds')">
              <a ng-click="selectTab('builds')" href="#">Builds</a></li>
            <li ng:class="getTabClass('build-details')"
                ng:show="!!currentBuild">
              <a ng-click="selectTab('build-details')" href="#">Build
                details (#{{currentBuild.id}})</a></li>
          </ul>
          <div class="details" ng:show="tab == 'details'">
            <ul>
              <li>
                Local: <span>{{currentProject.local}}</span>
              </li>
              <li>
                Remote: <span>{{currentProject.remote}}</span>
              </li>
              <li>
                Build: <span>{{currentProject.build}}</span>
              </li>
              <li>
                Notifications: <span>{{currentProject.notifications}}</span>
              </li>
            </ul>
          </div>
          <div class="builds" ng-controller="BuildCtrl" ng:show="tab == 'builds'">
            <h5>Total builds: {{getTotalBuilds()}}</h5>
            <table class="table table-condensed">
              <tr ng-repeat="build in builds | orderBy:predicate:true"
                  class="build-{{build.status}} build-row"
                  ng-click="showBuildDetails(build)">
                <td ng-repeat="key in ['id', 'status', 'branch', 'title', 'author', 'start', 'stop']">
                  {{build[key]}}
                </td>
                <td>
                  <button class="btn" ng-click="rerun(build, $event)"><i class="icon-play"></i>Rerun</button>
                  <button class="btn" ng-click="delete(build, $event)"><i class="icon-trash"></i>Delete</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="build-details" ng:show="tab == 'build-details'">
            <ul>
              <li ng-repeat="key in ['title','branch','revision','author','start','stop','status','exit','tags']">
                {{key}}: {{currentBuild[key]}}
              </li>
              <li>
                Build output:
                <pre>{{currentBuild.output}}</pre>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
