<!doctype html>
<html ng-app="Kha">
  <head>
    <script src="/lib/angular-1.1.0.js"></script>
    <script src="/lib/angular-resource-1.1.0.js"></script>
    <script src="/lib/underscore-min.js"></script>
    <script src="/lib/http-auth-interceptor.js"></script>
    <script src="js/app.js"></script>
    <script src="js/login.js"></script>
    <link href="/img/favicon.png" type="image/x-icon" rel="icon">
    <link type="text/css" rel="stylesheet" href="lib/bootstrap-combined.min.css">
    <link type="text/css" rel="stylesheet" href="/css/kha.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid" ng-controller="ProjectCtrl">
        <div class="span3">
          <div id="logo">
            <img src="/img/kha.png"/>
            <h3>Kha - lightweight CI server</h3>
          </div>
          <div id="projects">
            <h2>Projects</h2>
            <ul class="nav nav-tabs nav-stacked">
              <li ng:class="getProjectClass(project)"
                  ng-repeat="project in projects | orderBy:predicate:false">
                <a href="#/project/{{project.id}}/builds">
                  <span>{{project.id}}</span> -
                  <span>{{project.name}}</span>
                </a>
              </li>
            </ul>
            <a ng-click="addProject()">Add project</a>
          </div>
        </div>
        <div class="span9">
          <div id="hello" ng:show="!currentProject">
            <h1>Hello!</h1>
            <p>Select a project on the left!</p>
          </div>
          <div id="project" ng:show="!!currentProject">
            <h3>Project "{{currentProject.name}}"</h3>
            <ul class="nav nav-tabs">
              <li ng:class="getTabClass('details')">
                <a ng-click="selectTab('details')" href="#/project/{{currentProject.id}}/details">Details</a></li>
              <li ng:class="getTabClass('builds')">
                <a ng-click="selectTab('builds')" href="#/project/{{currentProject.id}}/builds">Builds</a></li>
              <li ng:class="getTabClass('build')"
                  ng:show="!!currentBuild">
                <a ng-click="selectTab('build')" href="#/project/{{currentProject.id}}/build/{{currentBuild.id}}">Build details (#{{currentBuild.id}})</a></li>
            </ul>
            <div class="details" ng:show="tab == 'details'" ng-controller="DetailsCtrl">
              <ul>
                <li>
                  Name: <input ng:class="getEditingClass()" ng-readonly="!editing" ng-model="currentProject.name"/>
                </li>
                <li>
                  Local: <input ng:class="getEditingClass()" ng-readonly="!editing" ng-model="currentProject.local"/>
                </li>
                <li>
                  Remote: <input ng:class="getEditingClass()" ng-readonly="!editing" ng-model="currentProject.remote"/>
                </li>
                <li>
                  Build:
                  <ol>
                    <li ng-repeat="step in currentProject.build"><input ng:class="getEditingClass()"
                                                                        ng-readonly="!editing"
                                                                        ng-model="step"/></li>
                  </ol>
                  <a ng-show="editing" ng-click="currentProject.build.push('')">Add build step</a>
                </li>
                <li>
                  Params:
                  <ol>
                    <li ng-repeat="(k, v) in currentProject.params">
                      <input ng:class="getEditingClass()"
                             ng-readonly="!editing"
                             ng-model="k"/>
                      <input ng:class="getEditingClass()"
                             ng-readonly="!editing"
                             ng-model="currentProject.params[k]"/>
                    </li>
                  </ol>
                  <a ng-show="editing" ng-click="currentProject.params[''] = ''">Add param</a>
                </li>
                <li>
                  Notifications:
                  <ul>
                    <li ng-repeat="n in currentProject.notifications">
                      <ul>
                        <li>
                          Type: <input ng:class="getEditingClass()"
                                       ng-readonly="!editing"
                                       ng-model="n.type"/>
                        </li>
                        <li>
                          Params:
                          <ol>
                            <li ng-repeat="(k, v) in n.params">
                              <input ng:class="getEditingClass()"
                                     ng-readonly="!editing"
                                     ng-model="k"/>
                              <input ng:class="getEditingClass()"
                                     ng-readonly="!editing"
                                     ng-model="n.params[k]"/></li>
                          </ol>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  Private: <input type="checkbox"
                                  ng-readonly="!editing"
                                  ng:model="currentProject.private">
                </li>
              </ul>
              <div ng:show="!!editing">
                <button class="btn" ng-click="save()"><i class="icon-ok"></i>Save</button>
                <button class="btn"
                        ng-click="cancel()"><i class="icon-remove"></i>Cancel</button>
              </div>
              <div ng:show="!editing">
                <button class="btn" ng-click="edit()"><i class="icon-edit"></i>Edit</button>
              </div>
            </div>
            <div class="builds" ng-controller="BuildCtrl" ng:show="tab == 'builds'">
              <input ng-model="branch"/><button class="btn" ng-click="run(branch)"><i class="icon-play"></i>Build!</button><br/>
              <table class="table table-condensed">
                <tr ng-repeat="build in values(builds) | orderBy:predicate:true"
                    class="build-{{build.status}} build-row"
                    ng-click="showBuildDetails(build)">
                  <td ng-repeat="key in ['id', 'status', 'branch', 'title', 'author', 'start', 'stop']">
                    {{build[key]}}
                  </td>
                  <td class="btns">
                    <button class="btn" ng-click="rerun(build, $event)"><i class="icon-forward"></i>Rerun</button><br/>
                    <button class="btn" ng-click="delete(build, $event)"><i class="icon-trash"></i>Delete</button>
                  </td>
                </tr>
              </table>
              <button ng-click="loadMore()" class="btn-large">Load more</button>
            </div>
            <div class="build" ng:show="tab == 'build'">
              <ul>
                <li ng-repeat="key in ['title','branch','revision','author','start','stop','status','exit','tags']">
                  {{key}}: {{currentBuild[key]}}
                </li>
                <li>
                  Build output:
                  <pre>{{currentBuild.output}}</pre>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="login-container" ng-controller="LoginController"
         ng:class="{'urgent': urgent}">
      <div ng-class="{'hide': !session}">
        Logged in: <span>{{session.name}}</span>
        <button class="btn" ng-click="logout()"><i class="icon-off"></i>Logout</button>
      </div>
      <form name="loginForm" class="navbar-form pull-left"
            ng-class="{'hide': session}" ng:submit="login()">
        <input type="text" class="span2" ng-model="email" placeholder="Email" required/>
        <input type="password" class="span2" ng-model="password" placeholder="Password" required/>
        <button class="btn" ng-disabled="!loginForm.$valid"><i class="icon-user"></i>Login</button>
      </form>
    </div>

    <div id="github"><a title="Fork me on GitHub" href="https://github.com/greenelephantlabs/kha">Fork me on GitHub</a></div>
  </body>
</html>
