{application, kha,
 [
  {description, ""},
  {vsn, "1"},
  {registered, []},
  {applications, [
                  kernel,
                  stdlib,
                  cowboy,
                  mimetypes,
                  yamerl
                 ]},
  {mod, { kha_app, []}},
  {env, [{host, "example.host"},
         {container, lxc}, %% {container, dummy}
         {container_name, "ci_erl"},
         {container_opts, [{ephemeral, true},
                           {username, "ubuntu"}]}]}
 ]}.
